@font-face {
  font-family: 'M3Hybe';
  src: url('fonts/M3xHybeCorp-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@keyframes slideDown {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  font-family: 'M3Hybe', sans-serif;
  background-color: #000000;
  color: #ffffff;
}

.up {
  animation: slideDown 1s ease-out;
}