@font-face {
  font-family: 'M3Hybe';
  src: url('fonts/M3xHybeCorp-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@keyframes slideDown {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  font-family: 'M3Hybe', sans-serif;
  background-color: #000000;
  color: #ffffff;
}

.up {
  opacity: 0;
  transform: translateY(-100px);
  transition: transform 2s ease-out, opacity 2s
  ease-out;
  }

  .up.animate {
    opacity: 1;
    transform: translateY(0);
  }

  .fade {
    opacity: 0;
    transition: opacity 1.5s ease-in;
  }

  .fade.visible {
    opacity: 1;
  }
