@font-face {
  font-family: 'M3Bold';
  src: url('fonts/BigHit-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'M3Bold', sans-serif;
  background-color: #000000;
  color: #ffffff;
}

.up {
  text-align: center;
  opacity: 0;
  transform: translateY(-100px);
  transition: transform 2s ease-out, opacity 2s ease-out;
}

.up.animate {
  opacity: 1;
  transform: translateY(0);
}